{% extends "core/base_view.html" %}
{% block content %}
    <div class="container">
        <!-- body -->
        <div class="row" align="center">
            <div class="col-md-12">
                <h1>Import</h1>
            </div>
            
            <!-- fim da row -->
        </div>
        <div class="row">
            <div class="col-6">
                <a href="{% url 'home' %}">
                    <button class="btn btn-info" type="button">Voltar</button>
                </a>
            </div>
            <!-- fim da row -->
        </div>
    </div>
{% endblock %}